html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

#tools {
  padding: 5px;
  position: fixed;
  top: 0;
  max-height: 50px;
  overflow: hidden;
  width: 100%;
}

.colorBtn {
  height: 36px;
  border: 4px solid #2c3e50;
  width: 30px;
  outline: none;
}

.colorBtn:hover,
.selected {
  border: 4px solid rgba(0, 0, 0, 0);
}

.helper-button {
    height: 36px;
    font-family: monospace;
    font-weight: 900;
    font-size: 20px;
    color:#2c3e50;
    border: 0px;
    border-radius: 5px;
    width: 36px;
}

#symmetry{
    color: #ecf0f1;
    font-family: monospace;
    font-size: 20px;
}

#sketch-holder{
    position: fixed;
    bottom: 0;
}